{% extends '::base.html.twig' %}
{% block headTitle %}{{  title  }}{% endblock %}

{% block body %}
    <p style="margin-top: 40px"></p>
    {{ form(form) }}
{% endblock %}

{% block sidebar %}{% endblock %}